<%-include('partials/encabezado.html');%>
<body>
    <div class="container">
        <form action="/" method="post">
            <div class="row mb-4">
                <div class="col-3"><label for="" class="form-label">Número recibo</label></div>
                <div class="col"><input type="number" class="form-control" id="numRecibo" name="numRecibo"></div>
            </div>
            <div class="row mb-4">
                <div class="col-3"><label for="" class="form-label">Nombre</label></div>
                <div class="col"><input type="text" class="form-control" id="nombre" name="nombre"></div>
            </div>
            <div class="row mb-4">
                <div class="col-3"><label for="" class="form-label">Domicilio</label></div>
                <div class="col"><input type="text" class="form-control" id="domicilio" name="domicilio"></div>
            </div>
            <div class="row mb-4">
                <div class="col-3"><label for="" class="form-label">Tipo de servicio</label></div>
                <div class="col">
                    <select class="form-select" id="tipo" name="tipo">
                        <option value="1">Domicilio</option>
                        <option value="2">Comercial</option>
                        <option value="3">Industrial</option>
                    </select>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-3"><label for="" class="form-label">Kilowats consumidos</label></div>
                <div class="col"><input type="number" class="form-control" name="kilowats" id="kilowats"></div>
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-outline-success fs-5 mb-3" type="submit">Enviar información</button>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-outline-danger fs-5 mb-3" type="reset" id="reset">Limpiar</button>
                </div>
            </div>
        </form>
    </div>
<%-include('partials/piePagina.html');%>
</body>
</html>