<%-include('partials/encabezado.html');%>
<%
    let subtotal = 0;
    let impuesto = 0;
    let descuento;
    let tot = 0;
    let tipoTexto ="";
    let costo = "";
    if(tipo==1){
        subtotal = parseInt(kilowats)*1.08;
        tipoTexto="Domestico"
        costo="1.08"
    }else if(tipo==2){
        subtotal = parseInt(kilowats)*2.5
        tipoTexto="Comercial"
        costo="2.5"
    }else if(tipo==3){
        subtotal = parseInt(kilowats)*3
        tipoTexto="Industrial"
        costo="3"
    }
    impuesto = subtotal * 0.16;
    if(parseInt(kilowats)<=1000){
        descuento = subtotal * 0.1;
    }else if(parseInt(kilowats)>1000 && parseInt(kilowats)<=10000){
        descuento = subtotal * 0.2;
    }else if(parseInt(kilowats)>10000){
        descuento = subtotal * 0.5;
    }

    tot = subtotal + impuesto - descuento;
 %>
 <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Kilowatts consumidos</th>
            <th scope="col">Costo por kilowatts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=nombre%></td>
            <td><%=tipoTexto%></td>
            <td><%=kilowats%></td>
            <td><%=costo%></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td>Subtotal: </td>
            <td><%=subtotal%></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td>Impuesto: </td>
            <td><%=impuesto%></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td>Descuento: </td>
            <td><%=descuento%></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <th>Total a pagar: </th>
            <th><%=tot%></th>
          </tr>
        </tbody>
      </table>
 </div>
<%-include('partials/piePagina.html');%>